# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

# STRIPE_SECRET_TEST='sk_test_51M9b6wJfacGwExObuU14krEOBWsuHJN61YAuc1HGjuAN5V30eSbZVeJinyRRuFboY0BLaemo8zWb1OGUp6g5Zl4W00KTn5LSuK'